@page "/Login"
@using Reddit.Authentication
@using Domain.Contracts
@using Domain.Models
@inject IAuthService authService
@inject NavigationManager navMgr
@inject IUserService userService

<AuthorizeView>
    <NotAuthorized>
           <section class="login-block">
                    <div class="container">
                    <div class="row">
        	            <div class="col-md-4 login-sec">
        		            <h2 class="text-center">Login Now</h2>
        		            <form class="login-form">
        			            <div class="form-group">
        				            <label for="exampleInputEmail1" class="text-uppercase">Username</label>
        				            <input type="text" @bind="userName" class="form-control" placeholder="">
                    
        			            </div>
        			            <div class="form-group">
        				            <label for="exampleInputPassword1" class="text-uppercase">Password</label>
        				            <input type="password" @bind="password" class="form-control" placeholder="">
        			            </div>
        			            <div class="form-check">
        				            <label class="form-check-label">
        					            <input type="checkbox" class="form-check-input">
        					            <small>Remember Me</small>
        				            </label>
        				            <button type="submit" class="btn btn-login float-right" @onclick="LoginAsync">Log in</button>
        			            </div>
                  
        		            </form>
        		            <div class="copy-text">Dont have an account? Create one now! <i class="fa fa-heart"></i> <a href="/Register">Register</a></div>
        	            </div>
        	            <div class="col-md-8 banner-sec">
        		            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        			            <ol class="carousel-indicators">
        				            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        				            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        				            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        			            </ol>
        			            <div class="carousel-inner" role="listbox">
        				            <div class="carousel-item active">
        					            <img class="d-block img-fluid" src="https://static.pexels.com/photos/33972/pexels-photo.jpg" alt="First slide">
        					            <div class="carousel-caption d-none d-md-block">
        						            <div class="banner-text">
        							            <h2>Your new Forum</h2>
        							            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
        						            </div>	
        					            </div>
        				            </div>
        			            </div>
        		            </div>
        	            </div>
                    </div>
        </div>            
                </section>
    </NotAuthorized>
    <Authorized>
        <div class="card">
            <h3>Hello, @context.User.Identity.Name</h3>
        </div>
    </Authorized>
</AuthorizeView>

@code {
    private string userName;
    private string password;
    private string errorLabel;

    private async Task LoginAsync()
    {
        errorLabel = "";
        try
        {
            await authService.LoginAsync(userName, password);
            navMgr.NavigateTo("/");
        }
        catch (Exception e)
        {
            errorLabel = $"Error: {e.Message} {e.StackTrace}";
        }
    }

    private async Task Register()
    {
        User user = new User();
        
        try
        {
            await userService.AddUser(user);
        }
        catch(Exception e)
        {
            errorLabel = $"Error: {e.Message} {e.StackTrace}";
        }
    }
}