@page "/Home/{Id}"
@using Domain.Models
@using Domain.Contracts
@inject IForum forum 


<h3>PostDetails </h3>

<div>@_post.date_posted </div>
<br> 



@_post.Body





@code {
    [Parameter]
    public string Id { get; set; }

    private Post _post = new Post();


    protected override async Task OnInitializedAsync()
    {
        try
        {
            _post = await forum.GetPost(Id);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            throw;
        }
    }
    
}