@page "/Register"
@using Reddit.Authentication
@using Domain.Models
@using Domain.Contracts
@inject IAuthService authService
@inject NavigationManager navMgr
@inject IUserService userService


<AuthorizeView>
    <NotAuthorized>
     <!-- <form action=""> 
     <div class="container">
         <h1>Register</h1>
         <p>Please fill in this form to create an account.</p>
         <hr>
      
         <label for="text"><b>Username</b></label>
         <input type="text" placeholder="Enter Username" @bind="user.UserName" name="Username" id="Username" required>
      
         <label for="psw"><b>Password</b></label>
         <input type="password" placeholder="Enter Password" @bind="user.Password" name="psw" id="psw" required>
      
         <label for="psw-repeat"><b>Repeat Password</b></label>
         <input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required>
         <hr>-->
          
     <!-- <button type="submit" class="registerbtn">Register</button> 
        
     </div>
     @ErrorMessage
      
     <div class="container signin">
         <p>Already have an account? <a href="#">Sign in</a>.</p>
     </div>
      
     </form> -->
     
      <section class="login-block">
                 <div class="container">
                 <div class="row">
     	            <div class="col-md-4 login-sec">
     		            <h2 class="text-center">Register</h2>
     		            <form class="login-form">
     			            <div class="form-group">
     				            <label for="exampleInputEmail1" class="text-uppercase">Username</label>
     				            <input type="text" @bind="user.UserName" class="form-control" placeholder="">
                 
     			            </div>
     			            <div class="form-group">
     				            <label for="exampleInputPassword1" class="text-uppercase">Password</label>
     				            <input type="password" @bind="user.Password" class="form-control" placeholder="">
     			            </div>
     			            <div class="form-check">
     				            <label class="form-check-label">
     					            <input type="checkbox" class="form-check-input">
					                 <small>Remember Me</small>
					                 <button class="btn-register float-right" @onclick="RegisterUser" type="submit">Register</button>
     				            </label>
     				           
     			            </div>
               
     		            </form>
     		            <div class="copy-text">Already have an account? Log in now! <i class="fa fa-heart"></i> <a href="/Login">Login</a></div>
     	            </div>
     	            <div class="col-md-8 banner-sec">
     		            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
     			            <ol class="carousel-indicators">
     				            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
     				            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
     				            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
     			            </ol>
     			            <div class="carousel-inner" role="listbox">
     				            <div class="carousel-item active">
     					            <img class="d-block img-fluid" src="https://static.pexels.com/photos/33972/pexels-photo.jpg" alt="First slide">
     					            <div class="carousel-caption d-none d-md-block">
     						            <div class="banner-text">
     							            <h2>Your new Forum</h2>
     							            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
     						            </div>	
     					            </div>
     				            </div>
     			            </div>
     		            </div>
     	            </div>
                 </div>
     </div>            
             </section>
     
        
    </NotAuthorized>
    <Authorized>
    
    <div class="card">
          <h3>Hello, @context.User.Identity.Name! Enjoy the platform</h3>
         </div>
    </Authorized> 
    
</AuthorizeView>



@code {

    private User? user = new User();
    private string ErrorMessage;

    private async Task RegisterUser()
    {
        try
        {
                user.Role = "User";
                user.BirthDate = DateTime.Today;
                await userService.AddUser(user);
                navMgr.NavigateTo("/");
            
        }
        catch (Exception e)
        {
            ErrorMessage = $"Error:{e.Message}";
	        Console.WriteLine(e.Message + " " + e.StackTrace);
        }
    }

    //  private string FirstName; //{ get; set; }
    // private string LastName; // {get; set;}
    // private string Password;

    /* public async Task<RegisterRequest> Registration (RegisterRequest parameter)
    {
        var user = new User();
        user.Name = parameter.UserName;
        user.Password = parameter.Password;
        var result = await AuthServiceImpl.Register();
        
    }
    
    */



}